<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style-eternalflame.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script>
    $('.navbar-toggle').on('click', function () {
        $(this).toggleClass('active');
        $('.navbar-collapse').toggleClass('show');
    });
    $('.navbar-collapse .close').on('click', function () {
        $('.navbar-collapse').removeClass('show');
    });

    $(window).on('load',function (){
        $('.content').addClass('active');
    });
</script>
</body>
</html>