<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/aos.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script>
    function copyval(valcopy) {
        var copyText = document.getElementById(valcopy);
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
    }

    $('.page-1 .cover').on('click',function(){
        $(this).parent().toggleClass('active');
        $('.page-2').addClass('hide');
        $('.page-2').toggleClass('zd');
        $('.book-animation').toggleClass('center');
        
    });
    $('.page-2 .cover').on('click',function(){
        $(this).parent().removeClass('hide').toggleClass('active');
    });

    AOS.init({
        easing: 'ease-out-back',
        duration: 1000,
        once: true,
        offset: 40,
    });
</script>
</body>
</html>