<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">

</head>
<body class="{{bodyClasses}}">

{% block content %}{% endblock %}

<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script>
    function copyval(valcopy) {
        var copyText = document.getElementById(valcopy);
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
    }

    $('.next-page1,.btn-open').click(function (){
        $('.page-1,.page-2').addClass('left-side');
        $('.theonezing').addClass('hide');
        $('.book').addClass('center');
        $('.control button').css('display','none');
        $('.next-page2,.prev-page1').css('display','block');
        $('.btn-open').addClass('hide');
    });
    $('.prev-page1').click(function (){
        $('.page-1,.page-2').removeClass('left-side');
        $('.theonezing').removeClass('hide');
        $('.book').removeClass('center');
        $('.control button').css('display','none');
        $('.next-page1').css('display','block');
        $('.btn-open').removeClass('hide');
    });
    $('.next-page2').click(function (){
        $('.page-3,.page-4').addClass('left-side');
        $('.control button').css('display','none');
        $('.prev-page2').css('display','block');
    });
    $('.prev-page2').click(function (){
        $('.page-3,.page-4').removeClass('left-side');
        $('.control button').css('display','none');
        $('.prev-page1,.next-page2').css('display','block');
    });

    Object.defineProperty(HTMLMediaElement.prototype, 'playing', {
        get: function () {
            return !!(this.currentTime > 0 && !this.paused && !this.ended && this.readyState > 2);
        }
    });
    $('body').on('click touchstart', function () {
        const videoElement = document.querySelectorAll('video');
        videoElement.play();
    });
    var video = document.querySelectorAll('video');
    window.addEventListener('touchstart', function videoStart() {
        video.play();
        this.removeEventListener('touchstart', videoStart);
    });

</script>
</body>
</html>