<div class="cart">
    <div class="eb-cart-countdown">
        <p>
            Your cart will expire in
            <span class="eb-cart-countdown-timer-wrapper">
            <b id="countdown" class="eb-cart-countdown-timer"></b>
            <b> minutes</b>
        </span>
            ! Checkout now before your items sell out
            <img style="position: relative; top: 2px; height: 20px" src="./assets/img/fire.gif?" alt="sold out">
        </p>
    </div>
    <div class="one-third column medium-down--one-whole">
        <div class="subtotal">
            <div class="eb-cart-checkout-info-top">
                <h2 class="eb-checkout-methods-title">Payment Methods</h2>
                <div class="eb-checkout-methods-wrapper">
                    <img src="./assets/img/payments_6.png?">
                </div>
                <img src="./assets/img/buyer-protection.svg" alt="buyer protection">
            </div>
            <div class="eb-checkout-methods-horizontal-line"></div>
            <div class="eb-cart-checkout-info-bottom">
                <div class="eb-mx-12 cart_subtotal js-cart_subtotal">
                    <span>Subtotal</span>
                    <span class="money" data-currency-original="$19.99 USD" data-currency-usd="$19.99 USD" data-currency="USD">$19.99 USD</span>
                </div>
                <p><small>Orders will be processed in USD</small></p>
                <div class="checkout_button-container js-cart_checkout">
                    <button class="global-button global-button--primary add_to_cart eb-checkout-btn" name="checkout" data-cart-checkout-button="">
                        <span class="icon-lock"></span>Checkout
                        <span class="right"><span class="money" data-currency-original="$19.99 USD" data-currency-usd="$19.99 USD" data-currency="USD">$19.99 USD</span></span>
                        <div class="eb-spinning-circle ld ld-cycle ld-ring"></div>
                    </button>
                </div>
                <div class="eb-checkout-cart-message">
                    <p>Shipping calculated at Checkout</p>
                </div>
            </div>
        </div>
        <a href="" class="eb-continue-shopping"> Keep shopping</a>
    </div>
</div>
