<header>
    <nav class="navbar dapp navbar-expand-lg">
        <a href="/" class="logo"><img src="./assets/img/eternalflame/logo.svg" alt=""></a>
        <a href="" title="" class="btn-connect btn-pr">Connect wallet</a>
    </nav>
</header>
<main class="dapp">
    <div class="container">
        <div class="box-item">
            <div class="item">
                <h5>TOKEN NAME</h5>
                <p>ETERNALFLAME</p>
            </div>
            <div class="item">
                <h5>TOKEN PRICE</h5>
                <p>$0.0028</p>
            </div>
            <div class="item">
                <h5>TOTAL SUPPLY</h5>
                <p>84491018.5308126</p>
            </div>
            <div class="item">
                <h5>MARKET CAP</h5>
                <p>$234.95K</p>
            </div>
            <div class="item">
                <h5>HOLDERS</h5>
                <p>622</p>
            </div>
            <div class="item">
                <h5>24H VOLUME</h5>
                <p>$875.06K</p>
            </div>
            <div class="item">
                <h5>24H PRICE CHANGE</h5>
                <p>BONFIRE ($BONFIRE)</p>
            </div>
            <div class="item">
                <h5>LIQUIDITY</h5>
                <p>$51.34K</p>
            </div>
        </div>
        <div class="box-balance">
            <div class="item">
                <h5>TOTAL BURNED</h5>
                <p>15.53M BONFIRE</p>
            </div>
            <div class="item">
                <h5>TOTAL BURNED REWARD</h5>
                <p>16.52878583 ETH</p>
            </div>
            <div class="item">
                <h5>YOUR BALANCE</h5>
                <p>0 BONFIRE</p>
            </div>
        </div>
        <div class="connect-wallet">
            <form action="" method="" class="flex-center">
                <input type="text" value="10">
                <button type="submit" class="btn-submit btn-pr">Connect wallet</button>
            </form>
        </div>
    </div>
</main>
<footer>
    <div class="copyright">Copyright © 2023  eternalflame - All Rights Reserved.</div>
</footer>