<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="logo"><img src="./assets/img/eternalflame/logo.svg" alt=""></a>
        <div class="navbar-collapse" id="navbar">
            <ul class="navbar-nav flex">
                <li><a href="" title="Home">Home</a></li>
                <li><a href="" title="Twitter">Twitter</a></li>
                <li><a href="" title="Telegram">Telegram</a></li>
                <li><a href="" title="Chart">Chart</a></li>
                <li><a href="" title="Buy">Buy</a></li>
                <li><a href="" title="Docs">Docs</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="content">
            <h1><span>WELCOME TO eternalflame</span></h1>
            <div class="text">advanced burnenomics</div>
            <div class="code">CA: 0xF4918b947b7e9819eB813dF276F54AD95D20417a</div>
            <div class="box-btn flex">
                <a href="" title="Uniswap">Uniswap</a>
                <a href="" title="Burn dapp">Burn dapp</a>
            </div>
        </div>
    </div>
</main>
<footer>
    <ul class="menu flex-center">
        <li><a href="" title="Twitter">Twitter</a></li>
        <li><a href="" title="Telegram">Telegram</a></li>
        <li><a href="" title="Chart">Chart</a></li>
        <li><a href="" title="Buy">Buy</a></li>
    </ul>
    <h4 class="text-center">eternalflame</h4>
    <div class="copyright">Copyright © 2023  eternalflame - All Rights Reserved.</div>
</footer>