<div class="page-landing pr">
    <header>
        <div class="container">
            <div class="flex">
                <div class="contract pr">
                    <input type="text" value="Contract $Ring" id="valcopy-1" size="12">
                    <button type="button" class="btn-copy" onclick="copyval('valcopy-1')"></button>
                </div>
                <a href="" title="buy $ring" class="btn-buy">buy $ring</a>
            </div>
        </div>
    </header>
    <main class="landing px-3">
        <div class="intro">
            <p>One $RING to rule them all,</p>
            <p>One $RING to find them,</p>
            <p>One $RING to bring them</p>
            <p>All and in the darkness bind them.</p>
        </div>
        <div class="book">
            <div class="page page-1 cover-front">
                <img src="./assets/img/onezing/book-1.png" alt="">
                <div class="theonezing"><img src="./assets/img/onezing/theonezing.png" alt=""></div>
            </div>
            <div class="page page-2 cover-front">
                <img src="./assets/img/onezing/book-3.png" alt="">
            </div>
            <div class="page page-3 text-page">
                <img src="./assets/img/onezing/book-4.png" alt="">
            </div>
            <div class="page page-4 text-page">
                <img src="./assets/img/onezing/book-5.png" alt="">
            </div>
            <div class="page page-5 text-page">
                <img src="./assets/img/onezing/book-6.png" alt="">
            </div>
            <div class="control">
                <button type="button" class="next next-page1"></button>
                <button type="button" class="next next-page2"></button>
                <button type="button" class="prev prev-page1"></button>
                <button type="button" class="prev prev-page2"></button>
            </div>
        </div>
        <button type="button" class="btn-open">Click To Open The Book</button>
        <div class="light"></div>
        <div class="text">
            The One Ring was forged by the Dark Lord Sauron during the Second Age to gain dominion over the free peoples of Middle-earth. In disguise as Annatar, or "Lord of Gifts", he aided the Elven smiths of Eregion and their leader Celebrimbor in the making of the Rings of Power. He then forged the One Ring in the fires of Mount Doom.
        </div>
        <div class="flex-center pr" style="z-index: 9;">
            <div class="contract pr">
                <input type="text" value="Contract $Ring" id="valcopy" size="12">
                <button type="button" class="btn-copy" onclick="copyval('valcopy')"></button>
            </div>
            <a href="" title="buy $ring" class="btn-buy">buy $ring</a>
        </div>
        <div class="box-video">
            <video muted autoplay loop playsinline>
                <source src="./assets/img/onezing/bg-video-2.mp4" type="video/mp4">
            </video>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="flex justify-content-between">
                <a href="" class="logo"><img src="./assets/img/onezing/logo.png" alt=""></a>
                <div class="social flex-center">
                    <a href="" title="" class="telegram">telegram</a>
                    <a href="" title="" class="twitter">twitter</a>
                    <a href="" title="" class="youtube">youtube</a>
                </div>
            </div>
        </div>
    </footer>
</div>
