*,
*::before,
*::after {
  box-sizing: border-box;
}
body{font-family: Poppins, sans-serif;}
.cart{max-width: 1250px; margin: 0 auto;}
.cart h2 {
  margin-top: 0;
}
.eb-cart-countdown {
  background: oldlace;
  border: 1px dashed;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 10px 9px;
  width: calc(66.66667% - 20px);
}
.eb-cart-countdown p {
  margin: 0;
  font-style: normal;
  line-height: 1.6em;
}
.eb-cart-countdown-timer-wrapper {
  color: #da1919;
}
.eb-cart-countdown-timer{width: 32px; display: inline-block;}
.container .column, .container .columns { margin-left: 10px; margin-right: 10px; }
.one-third { width: calc(33.3333333333% - 20px); }

.subtotal {
  padding: 20px 25px;
  box-shadow: none;
  border-radius: 15px;
  background-color: aliceblue;
}
.subtotal_amount {
  font-size: 1.4em;
  font-weight: bold;
}

.cart .cart_subtotal {
  font-weight: bold;
  font-size: larger;
  display: flex; justify-content: space-between;
}
.cart .cart_subtotal {
  color: #000000;
}

.checkout_button-container {
  padding: 5px;
  width: 100%;
}

.eb-checkout-methods-horizontal-line {
  background-color: #b2d5ed!important;
  height: 1px!important;
  width: 100%;
}
.eb-mx-12.cart_subtotal.js-cart_subtotal{margin: 12px 0; line-height: 1.3;}
.eb-checkout-cart-message p {
  font-size: 14px;
  color: #727272;
  margin-bottom: unset;
}
.eb-checkout-cart-message p {
  font-size: 13px;
  text-align: left;
  font-style: italic;
}

.eb-continue-shopping {
  display: block;
  font-weight: 700;
  padding: 7px;
  text-align: center;
  text-decoration: none;
}
.eb-continue-shopping:hover {
  background-color: #eee;
  border-radius: 50px;
  color: #000;
  font-weight: 700;
  text-decoration: none!important;
}
.checkout_button-container .money {
  display: none;
  font-weight: 700;
}

h2.eb-checkout-methods-title {
  font-weight: 600;
  font-size: 15px;
}
h2.eb-checkout-methods-title {
  text-align: left;
}
img{max-width: 100%; height: auto;}
p {
  margin: 0 0 15px;
  font-style: normal;
  line-height: 1.6em;
}
.right {
  float: right;
  position: relative;
}
a, a:visited, a span {
  color: #393939;
  text-decoration: none;
  position: relative;
  transition: color 0.1s linear;
}
.icon-lock{width: 18px; height: 25px; display: block; margin-right: 10px; background: url("../img/lock.png") no-repeat 0 0/contain;}

.global-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 13px 20px;
  text-align: center;
  line-height: 1.2;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0px;
  word-break: break-word;
  cursor: pointer;
  transition: all 0.2s linear;
  border-color: var(--button-color-border, #007db5);
  background: var(--button-color-background, #007db5);
  color: var(--button-color-text, #ffffff);
}
.global-button:hover{background: #0272a9;}
.add_to_cart, .product_form input.add_to_cart {
  width: 100%;
  margin-bottom: 0px;
}
.global-button{font-size: 18px; text-transform: uppercase;}
.eb-checkout-btn {
  background-color: #09273f;
  border: 1px solid #007db5;
  position: relative;
}
button.add_to_cart {
  position: relative;
}
.checkout_button-container .add_to_cart {
  border-radius: 50px;
}
.ld-ring {
  width: 1em !important;
  height: 1em !important;
  position: relative !important;
  color: inherit !important;
  display: inline-block !important;
  box-sizing: content-box !important;
}
.ld {
  transform-origin: 50% 50% !important;
  transform-box: fill-box !important;
}
.checkout_button-container .eb-spinning-circle {
  display: none!important;
  position: absolute!important;
  right: 5%;
  z-index: 100;
}
.ld.ld-cycle {
  animation: ld-cycle 1s infinite linear !important;
}

@media (max-width: 1024px) {

}

@media only screen and (max-width: 820px) {
  .eb-cart-countdown{width: 100%;}
  .one-third{width: 100%; max-width: 396px; margin: 0;}
  .subtotal {
    padding: 15px;
    box-shadow:none;
    border-radius: 15px;
    background-color: aliceblue;
  }
  .subtotal p {
    margin: 4px 0px;
  }
  .checkout_button-container{
    padding: 10px;
    position: fixed; bottom: 0; left: 0;
  }
  .checkout_button-container .add_to_cart{border-radius: 14px;}
}

.ld-over-inverse.running {
  pointer-events: none !important;
}
.ld-ring {
  width: 1em !important;
  height: 1em !important;
  position: relative !important;
  color: inherit !important;
  display: inline-block !important;
  box-sizing: content-box !important;
}
.ld-ring:after {
  content: " " !important;
  display: block !important;
  width: 2em !important;
  height: 2em !important;
  box-sizing: border-box !important;
  transform-origin: 0em 0em !important;
  transform: translateZ(0) scale(0.5) !important;
  backface-visibility: hidden !important;
}
.ld-ring:after {
  border-radius: 50% !important;
  border: 0.3em solid currentColor !important;
  border-left-color: transparent !important;
}
.ld-loader {
  background-size: cover !important;
}
.ld {
  transform-origin: 50% 50% !important;
  transform-box: fill-box !important;
}
@keyframes ld-cycle {
  0% {
    animation-timing-function: cubic-bezier(0.3333, 0.3333, 0.6667, 0.6667);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ld.ld-cycle {
  animation: ld-cycle 1s infinite linear !important;
}
