:root{
  --morrisroman: morrisroman, sans-serif;
}
body{
  background: #000 url("#{$img-path}/onezing/bg-landing-2.jpg") no-repeat 50% 90px;
  background-size: cover;
  font-family: morrisroman, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
@mixin txt-1{font-size: 18px; line-height: 24px; color: #fff; font-weight: 700;}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
@font-face {
  font-family: morrisroman;
  src: url("#{$font-path}/MorrisRomanBlack.ttf");
}
.landing{overflow: hidden;}
header{
  background: #000; padding: 16px 0;
  .flex{justify-content: space-between; align-items: center;}
  .container{max-width: 1315px;}
}
.intro{
  max-width: 950px; margin: 0 auto;
  padding: 64px 0;
  font-size: 30px; line-height: 40px;
  p{display: block; text-align: center; animation: fadeIn 1.5s linear; text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45); color: #FEB504;}
  
}
.book-animation{
  width: 441px; height: 578px; margin: 0 0 57px calc((100% - 441px)/2);
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: .5s;
  z-index: 2;
  &.center{margin-left: vw(940px);}
  .page{
    width: 100%; height: 100%; position: absolute;
    &.active{opacity: 1;}
    &.hide{opacity: 0;}
    &-2.zd{z-index: 2;}
  }
  .active .cover{
    transform: rotateY(-180deg);
    .theonezing{ transform: rotateY(-180deg); animation: .4s flip linear; opacity: 0;}
    .detail{left: 0px;}
    .detail img{object-fit: cover; transition: 1s;}
    .img-1{animation: 1s flip linear; opacity: 0;}
    .img-2{opacity: 1; animation: .8s flipp linear;}
  }
  .cover{
    width: 100%; height: 100%;
    position: relative;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
    cursor: pointer;
    img{
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      object-fit: cover;
      transition: .5s;
    }
    .img-1{}
    .img-2{transform: rotateY(180deg); opacity: 0;}
    .img-3{position: absolute; width: 630px;}
  }
  .detail{
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0px;
    img{width: 100%; height: 100%; transition: 1s; object-fit: cover;}
  }
}
.book {
  width: 441px;
  height: 578px;
  margin: 0 0 57px calc((100% - 441px)/2);
  transform-style: preserve-3d;
  position: relative;
  transition: .5s;
  z-index: 2;
  &.center{margin-left: vw(935px);}
  .page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 1s;
  }
 .control{
  width: 200%; height: 100%;
  position: absolute; top: 0; left: -100%; transform: translateZ(10px);
  button{width: 50%; height: 100%; display: none; position: absolute; opacity: 0;}
  .prev{left: 0;}
  .next{right: 0;}
  .next-page1{display: block;}
 }
  .page:nth-child(1) {
    transform-origin: 0% 50%;
    transform: translatez(-1px);
  }
  .left-side:nth-child(1) {
    transform: translatez(1px) rotatey(-180deg);
  }

  .page:nth-child(2) {
    transform-origin: 100% 50%;
    transform: translatez(-2px) scalex(-1) translatex(100%);
  }
  .left-side:nth-child(2) {
    transform: translatez(2px) scalex(-1) translatex(100%) rotatey(180deg);
  }

  .page:nth-child(3) {
    transform-origin: 0% 50%;
    transform: translatez(-3px);
  }
  .left-side:nth-child(3) {
    transform: translatez(3px) rotatey(-180deg);
  }

  .page:nth-child(4) {
    transform-origin: 100% 50%;
    transform: translatez(-4px) scalex(-1) translatex(100%);
  }
  .left-side:nth-child(4) {
    transform: translatez(4px) scalex(-1) translatex(100%) rotatey(180deg);
  }

  .page:nth-child(5) {
    transform-origin: 0% 50%;
    transform: translatez(-5px);
  }

  .left-side:nth-child(5) {
    transform: translatez(5px) rotatey(-180deg);
  }
  .cover-front:nth-child(1) {
    text-align: center;
  }
}
.box-video{
  width: 100%; height: calc(100% - 90px); overflow: hidden;
  position: absolute; top: 90px; left: 0; z-index: -1;
  video{width: 100%; height: 100%; object-fit: cover;}
}

.light{
    width: 878px; height: 665px;
    max-width: 100%;
    background: url('#{$img-path}/onezing/light.svg') no-repeat 0 0/cover;
    position: absolute; top: 372px; left: vw(517px); z-index: 1;
    animation: flash .3s infinite linear;
}
.theonezing{
  width: 630px; height: 209px; position: absolute; top: 170px; left: -95px; z-index: 99;
  transform-origin: left;
  transition: .8s;
  animation: flash 1s infinite linear;
  &.hide{opacity: 0;}
}
.text{
  max-width: 950px;
  margin: 0 auto 58px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
.contract{
  height: 58px; width: 470px; max-width: 90%;
  padding: 0 21px;
  border: 1px solid #FEB504;
  background: rgba(0, 0, 0, 0.40);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  color: #fff;
  input{
    width: 100%;
    height: 100%;
    padding-right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    &:focus{outline: none; border: none;}
  }
  .btn-copy{
    width: 19px; height: 23px;
    padding: 0;
    background: url("#{$img-path}/onezing/copy.png") no-repeat 0 0/contain;
    position: absolute; right: 16px; top: 16px; z-index: 10;
  }
}
.btn-buy{
  padding: 5.5px 16px;
  margin-left: 46px;
  border-radius: 9px;
  border: 1px solid #FEB504;
  background: #811F00;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FEB504;
  font-size: 30px;
  text-transform: uppercase;
  &:hover{color: #d8e974;}
}
.btn-open{
  padding: 11px 24px;
  background: rgba(#000,.6);
  border-radius: 9px;
  font-size: 18px; line-height: 24px;
  color: #fff;
  text-transform: capitalize;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  margin-left: -107px;
  margin-top: -84px;
  transition: .5s;
  animation: pulse 1.2s infinite linear;
  z-index: 2;
  &.hide{opacity: 0;}
}

.social{
  justify-content: center;
  >*+*{margin-left: 45px;}
  a{display: block; width: 25px; height: 20px; font-size: 0;}
  a:hover{filter: grayscale(1);}
  .telegram{background: url("#{$img-path}/onezing/telegram.svg") no-repeat 0 0/contain;}
  .twitter{background: url("#{$img-path}/onezing/twitter.svg") no-repeat 0 0/contain;}
  .youtube{width: 30px; background: url("#{$img-path}/onezing/youtube.svg") no-repeat 0 0/contain;}
}
footer{
  margin-top: 67px;
  padding: 34px 0;
  border-top: 1px solid rgba(#FEB504,.6);
  .container{max-width: 1315px;}
}

@keyframes ano {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media (max-width: 1440px) {
  header{
    padding: 16px 24px;
    .contract{width: 400px;}
  }
  .light{left: vw(300px);}
  .intro{padding: 54px 0;}
  footer{
    padding: 24px;
    .logo{width: 190px;}
  }
}

@-webkit-keyframes flip{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@-webkit-keyframes flipp{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@media (max-width: 1024px) {
  
}
@media (max-width: 820px) {
  header{
    padding: 16px 0;
    .contract{max-width: 54%;}
    .btn-buy{margin-top: 0;}
  }
  .intro{padding: 45px 0;}
  .book-animation,.book{
    width: 320px; height: 419px; margin: 0 0 50px calc((100% - 320px)/2);
    &.center{margin-left: vw(930px);}
  }
  .theonezing{
    width: 440px; height: 146px;
    top: 135px;
    left: -60px;
  }
  .light {
    top: 167px;
    left: 0;
}
  .text{margin-bottom: 50px;}
}
@media (max-width: 767px) {
  .intro{font-size: 26px; line-height: 36px;}
  .text{font-size: 20px; line-height: 28px;}
  .contract{width: 90%;}
  .btn-buy{margin: 30px 0 0; font-size: 26px;}
  .btn-open{
    padding: 8px 16px;
    margin-left: -102px;
    margin-top: -75px;
    font-size: 15px; line-height: 22px;
  }
}
@media (max-width: 640px) {
  .book-animation,.book{width: 200px; height: 262px; margin-left: calc((100% - 200px)/2);}
  .theonezing{
    width: 280px; height: 93px;
    top: 85px;
    left: -40px;
  }
  .btn-open{font-size: 12px; margin-left: -72px;}
}
@media (max-width: 480px) {
  body{background-position: 50% 78px;}
  header{
    .contract{
      height: 46px; padding: 0 12px;
      .btn-copy{width: 14px; height: 17px; top: 12px; right: 10px;}
    }
    .btn-buy{padding: 6px 10px; font-size: 20px;}
  }
  .book-animation,.book{
    width: 185px; height: 242px; margin-left: calc((100% - 185px)/2);
    &.center{margin-left: vw(880px);}

  }
  .theonezing{
    width: 260px; height: 86px;
    top: 70px;
    left: -35px;
  }
  .text{font-size: 18px; line-height: 26px;}
  .intro{font-size: 25px; line-height: 34px;}
  .box-video{height: calc(100% - 78px); top: 78px;}
  .btn-open{
    font-size: 11px;
    margin-left: -58px;
    padding: 3px 8px;
    margin-top: -70px;
  }
  .social > *+*{margin-left: 25px;}
  footer{
    padding: 24px 0;
    .logo{width: 160px;}
  }
}



//uikit
.pr{position: relative;}
button{
  border: none; cursor: pointer;
  &:focus{outline: none;}
}
@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.6);
    filter: saturate(2.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.6);
    filter: saturate(2.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.animate__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}