:root{

}
body{
  display: flex;
  flex-direction: column;
  background: #000;
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &.dapp{
    background:#000 url("#{$img-path}/eternalflame/bg-dapp.png") no-repeat bottom center;
  }
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
@mixin btn{

}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
  
header{
    background: #000;
    .navbar-toggle{display: none;}
  }
.navbar{
  padding: 0 15px; width: 100%; max-width: 1304px; margin: 0 auto;
  &.dapp{
    padding: 21px 15px;
    .logo{position: relative; left: 0; top: 0; transform: translateX(0);}
  }
  .logo{position: absolute; left: 50%; transform: translateX(-50%); top: 14px;}
  .btn-connect{margin-left: auto;}
}
.navbar-nav{
  width: 100%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  >*+*{margin-left: 50px;}
  li:nth-child(4){margin-left: 700px;}
  a{display: block; color: #fff; font-weight: 700; font-size: 18px; line-height: 25px; text-transform: uppercase;}
  a:hover{color: #FDCB11;}
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 180px 0 140px;
  flex: 1 1 auto;
  position: relative;
  &.dapp{
    padding: 107px 0 218px;
    &::before{display: none;}
    &::after{
      content: "";
      width: 100%;
      height: 150px;
      background: linear-gradient(#000,rgba(#000,.1));
      position: absolute; top: 50px; left: 0; z-index: -1;
    }
  }
  &::before{
    content: "";
    width: 250px; height: 242px;
    background: url("#{$img-path}/eternalflame/fire.jpg") no-repeat 0 0/contain;
    position: absolute;
    right: 0; top: 0;
  }
  h1{
    height: 74px;
    margin-bottom: 14px;
    font-weight: 900; color: #fff; font-size: 64px; line-height: 74px; text-transform: uppercase;
    overflow: hidden;
    span{display: block; transform: translateY(74px); transition: .9s;}
  }
  .text{margin-bottom: 10px; color: #fff; font-weight: 700; font-size: 36px; transform: translateY(25px); opacity: 0; transition: .5s;}
  .code{color: #F4781E; font-size: 24px; word-break: break-word; transform: translateY(25px); opacity: 0; transition: .5s;}
  .box-btn{
        margin-top: 38px; opacity: 0; transition: .3s;
        >*+*{margin-left: 24px;}
        a,button{
          height: 57px;
          padding: 0 42px;
          border-radius: 9px;
          background: #FDCB11;
          box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
          font-weight: 700;
          font-size: 24px;
          text-transform: uppercase;
          color: #000;
          line-height: 59px;
          &:hover{background: #cda81d;}
        }
    }
  .active{
    h1 span{transform: translateY(0);}
    .text,.code{opacity: 1; transform: translateY(0);}
    .text{transition-delay: .4s;}
    .code{transition-delay: .8s;}
    .box-btn{opacity: 1; transition-delay: 1.2s;}
  }
}
.box-item,.box-balance{
  h5,p{margin-bottom: 0; text-transform: uppercase;  line-height: 36px; color: #fff;}
  h5{font-size: 20px; font-weight: 400;}
  p{font-weight: 700; font-size: 24px;}
}
.box-item{
  display: grid;
  margin-bottom: 44px;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 19px;
  grid-row-gap: 28px;
  .item{
    padding: 22.5px 16px;
    border-radius: 17px;
    background: rgba(244, 120, 30, 0.30);
    text-align: center;
  }
}
.box-balance{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 60px;
  margin-bottom: 100px;
  .item{
    padding: 22.5px 16px;
    border-radius: 17px;
    background: linear-gradient(3deg, #BC3818 1.79%, #F57D1E 97.44%);
    text-align: center;
  }
}
.connect-wallet{
  input,.btn-submit{height: 47px;}
  input{
    width: 100%;
    max-width: 486px;
    padding: 0 27px;
    border-radius: 9px;
    border: 1px solid var(--Eternal-red, #BC3818);
    background: rgba(64, 24, 1, 0.60);
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    &:focus{outline: none; box-shadow: none;}
  }
  .btn-submit{margin-left: 33px;}
}

footer{
    padding-bottom: 50px;
    text-align: center; color: #fff;
    .menu{
        li{margin: 0 25px;}
        a{color: #fff; font-weight: 700; font-size: 18px; line-height: 25px; text-transform: uppercase;}
        a:hover{color: #FDCB11;}
    }
    h4{margin: 52px 0 18px; font-size: 36px; font-weight: 700; text-transform: uppercase;}
    .copyright{font-size: 16px;}
  }

//uikit

.pr{position: relative;}
button{
  border: none; cursor: pointer;
  &:focus{outline: none;}
}
.btn-pr{
  padding: 0 31px;
  border-radius: 9px;
  background: #FDCB11;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 47px;
  transition: .25s;
  &:hover{background: #cda81d; color: #000;}
}

@media (max-width: 1600px) {
  main.dapp{
    padding: 80px 0 138px;
    &::after{top: 0;}
  }
  .box-balance{margin-bottom: 80px;}
}
@media (min-width: 1366px) {
  .container{max-width: 1304px;}
}
@media (max-width: 1366px) {
  .navbar{
    max-width: 1140px;
    .logo{left: 52%;}
  }
  .navbar-nav{
    > li:nth-child(4){margin-left: 545px;}
  }
  main{padding: 140px 0 100px;}
  .container{max-width: 1140px;}
  .box-item,.box-balance{
    .item{
      h5{font-size: 19px;}
      p{font-size: 22px;}
    }
  }

  .btn-pr{font-size: 22px;}
}
@media (max-width: 1024px) {
  header{
    .navbar-toggle{display: block;}
  }
  .navbar{
    width: 100%; padding: 20px 15px; min-height: auto; justify-content: flex-start;
    .logo{width: 240px; position: relative; left: 0; transform: translateX(0); top: 0;}
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    position: fixed; top: 0; left: -100%;
    width: 100%; height: calc(100% - 0px);
    padding: 15px 0;
    background: #000;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 26px;
    height: 16px;
    padding: 0;
    background: none; border: none;
    position: absolute; right: 15px;
    span{
      display: block; width: 26px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 20px; height: 2px; background: #fff; position: absolute; left: 6px; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 26px; transform: rotate(45deg);}
    span:after{width: 26px;}
    span:before{width: 26px; top: 0;  transform: rotate(90deg); left: 0;}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%; height: auto;
    display: block;
    margin: 0; text-align: center;
    >*+*{margin: 30px 0 0;}
    > li:nth-child(4){margin-left: 0;}
    > li > a{line-height: inherit;}
    > li > .sub-menu{order: 3;}
    > li .show-menu{order: 2;}
    > li:hover .sub-menu{display: block;}
    .active::after{display: none;}
  }
  main{
    &.dapp::after{height: 80%;}
    h1{height: 148px;}
    h1 span{transform: translateY(148px);}
  }

  .btn-pr{padding: 0 16px; line-height: 46px; font-size: 20px;}
}
@media (max-width: 820px) {
  .box-item,.box-balance{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
    .item{
      h5,p{line-height: 32px;}
      h5{font-size: 18px;}
      p{font-size: 20px;}
    }
  }
}
@media (max-width: 540px) {
  body.dapp{background-size: cover;}
  .navbar.dapp{
    .logo{width: 190px;}
    .btn-pr{font-size: 14px;}
  }
  main{
    padding: 100px 0;
    &.dapp{padding: 60px 0 100px;}
    &::before{width: 100px; height: 97px;}
    h1{height: 120px; font-size: 42px; line-height: 60px;}
    h1 span{transform: translateY(120px);}
    .text{font-size: 24px;}
    .code{font-size: 18px;}
    .box-btn{
      >*+*{margin-left: 16px;}
      a{height: 50px; padding: 0 24px; line-height: 52px; font-size: 20px;}
    }
  }
  .box-item{
    margin-bottom: 35px;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    .item{
      padding: 18px 10px; border-radius: 10px;
      h5,p{font-size: 14px; line-height: 28px;}
    }
  }
  .box-balance{margin-bottom: 64px; grid-template-columns: repeat(1,1fr);}
  .connect-wallet{
    input{max-width: calc(100% - 170px); font-size: 20px; padding: 0 16px;}
    .btn-submit{margin-left: 10px;}
  }
  footer{
    padding-bottom: 30px;
    .menu{
      li{margin: 0 14px;}
      a{font-size: 16px;}
    }
    h4{margin: 40px 0 20px; font-size: 32px;}
    .copyright{font-size: 14px;}
  }
  .btn-pr{
    padding: 0 10px;
    line-height: 34px;
    font-size: 15px;
    border-radius: 6px;
  }
}
@media (max-width: 340px) {
  main{
    h1{height: 96px; font-size: 36px; line-height: 48px;}
    h1 span{transform: translateY(96px);}
    .box-btn{
      >*+*{margin-left: 15px;}
      a,button{padding: 0 16px; font-size: 20px;}
    }
  }
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.6);
    filter: saturate(2.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(2.6);
    filter: saturate(2.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.animate__pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }